/* Variables*/
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #f5f6fa;
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  margin: 0;
  line-height: 1.7;
}

.btn {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  display: inline-block;
  min-width: 160px;
  margin: 15px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}

.container {
  max-width: 1140px;
  padding: 40px 20px;
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 96px 0;
}

/* Navigation*/
.navigation {
  background-color: #fff;
  padding: 12px 0;
}

.navigation ul {
  padding: 20px;
  margin: 0;
  list-style-type: none;
  text-align: left;
  z-index: 10;
}

.navigation ul ul a {
  display: block;
  z-index: 10;
  font-weight: normal;
}

.navigation ul ul a:hover {
  color: #192a56;
  font-weight: bold;
}

.navigation ul ul li {
  display: block;
  margin-top: 8px;
  text-align: left;
}

.navigation ul ul li:first-of-type {
  margin-top: -5px;
}

.navigation li {
  display: inline-block;
  padding-right: 26px;
  position: relative;
  width: 110px;
  text-align: center;
}

.navigation li ul {
  background-color: #f5f6fa;
  display: none;
  position: absolute;
  padding-top: 12px;
  width: 100%;
}

.navigation li:hover ul {
  display: block;
  text-align: left;
  width: 100%;
  border-radius: 6px;
}

.navigation a {
  text-decoration: none;
  color: #487eb0;
  font-weight: bold;
}

nav .container {
  padding: 0 20px;
}

/* SPLASH*/
.splash {
  color: #f5f6fa;
  background-image: url("https://cdn.pixabay.com/photo/2016/05/05/02/40/jetty-1373173_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.splash::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #222;
  opacity: 0.8;
  z-index: 2;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
  z-index: 10;
}

.page-title {
  font-size: 72px;
  margin: 0;
  word-spacing: -24px;
  font-weight: 700;
  line-height: 1.2;
}

.page-title span {
  font-family: "Signika", sans-serif;
}

.page-subtitle {
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0;
}

/* BUTTONS*/
.btn-main {
  color: #f5f6fa;
  border-color: #f5f6fa;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn-main:hover {
  color: #EA2027;
  background-position: 0 100%;
}

.btn-two {
  color: #16a085;
  border-color: #16a085;
  background-image: linear-gradient(90deg, #16a085 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn-two:hover {
  color: #fdcb6e;
  background-position: 0 100%;
}

.btn-three {
  color: #EA2027;
  border-color: #EA2027;
  background-image: linear-gradient(90deg, #EA2027 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn-three:hover {
  color: #fdcb6e;
  background-position: 0 100%;
}

.btn-four {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
}

.btn-four:hover {
  color: #EA2027;
}

/* FLEX CONTAINER*/
section {
  color: #273c75;
}

.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.box {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  text-align: left;
  position: relative;
  padding: 20px;
}

.box p:first-of-type {
  font-weight: 700;
}

.number {
  color: #EA2027;
  font-size: 144px;
  position: absolute;
  top: -55px;
  left: 15px;
  opacity: 0.3;
  font-weight: 700;
}

h3 {
  font-size: 48px;
  margin: 0 0 72px 0;
  text-align: left;
}

h4 {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.second-box {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  padding: 20px;
  min-height: 300px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

/* IMAGE SECTION*/
.work {
  position: relative;
  margin: 30px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
}

.work .work-image {
  left: 0;
}

.work-description {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  text-align: left;
}

.work-description p:last-of-type {
  font-weight: 700;
}

.work-image {
  position: relative;
  max-width: 250px;
  height: 90%;
  -ms-flex: 0 0 40%;
      flex: 0 0 40%;
}

.work-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-image::after {
  background-color: #EA2027;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  left: 56%;
  transform: translate(-50%, 5%);
  opacity: 0.3;
  transition: all 1s;
}

.work-image:hover::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #EA2027;
}

/* FORM*/
.contact {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
  text-align: left;
  margin-left: 47px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
  margin-right: 47px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
}

input {
  color: #f5f6fa;
  background-color: #0a3d62;
  display: block;
  margin: 40px 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #f5f6fa;
}

input:-ms-input-placeholder {
  color: #f5f6fa;
}

input::placeholder {
  color: #f5f6fa;
}

textarea {
  display: block;
  width: 100%;
  height: 80px;
  background-color: #0a3d62;
  color: #f5f6fa;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #f5f6fa;
  margin-bottom: 20px;
}

textarea:-ms-input-placeholder {
  color: #f5f6fa;
}

textarea::placeholder {
  color: #f5f6fa;
}

.last {
  color: #f5f6fa;
  background-color: #0a3d62;
}

.contact p {
  line-height: 1.3;
  font-size: 16px;
}

.contact > div p:first-of-type {
  font-weight: 700;
  font-size: 18px;
}

/*  FOOTER */
.footer ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.footer li {
  font-size: 0;
  padding: 20px;
  transition: all 1s;
}

.footer li:hover {
  transform: scale(1.5, 1.5);
}

.footer i {
  color: #f5f6fa;
  background-color: #c0392b;
  font-size: 40px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}

/* MEDIA */
@media (max-width: 767px) {
  .flex-container,
  .second-box,
  .work {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .work-description {
    padding: 0;
    text-align: left;
    max-width: 100%;
    height: 150px;
    margin: 20px auto;
  }
  .work-image {
    max-width: 100%;
    height: 150px;
    margin: 20px auto;
  }
  .page-title {
    font-size: 60px;
    word-spacing: -20px;
    font-weight: 700;
    line-height: 1;
  }
  .submit {
    text-align: left;
    padding: 15px 35px;
    margin-left: 15px;
  }
  .contact {
    text-align: left;
    margin-top: 50px;
    margin-left: inherit;
    padding-left: inherit;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .form {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    min-width: 100%;
    padding-left: inherit;
    margin-left: inherit;
  }
  .navigation li {
    padding-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */