/* Variables*/
$color-main: #f5f6fa;
$color-one: #833471;
$color-two: #487eb0;
$color-three: #273c75;
$color-four: #EA2027;
$color-five: #16a085;
$color-hover: #fdcb6e;
$font-main: 'Inconsolata', monospace;
$font-two:'Signika', sans-serif;
$transition: all 1s;
/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    color: $color-main;
    font-size: 16px;
    font-family: $font-main;
    margin: 0;
    line-height: 1.7;
}
.btn{
    font-family: $font-main;
    font-size:16px;
    display: inline-block;
    min-width:160px;
    margin: 15px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
}
.container{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}
section{
    padding: 96px 0;
}
