/* Variables*/

$color-main: #f5f6fa;
$color-one: #833471;
$color-two: #487eb0;
$color-three: #273c75;
$color-four: #EA2027;
$color-five: #16a085;
$color-hover: #fdcb6e;
$font-main: 'Inconsolata', monospace;
$font-two:'Signika', sans-serif;
$transition: all 1s;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}
body{
    color: $color-main;
    font-size: 16px;
    font-family: $font-main;
    margin: 0;
    line-height: 1.7;
}
.btn{
    font-family: $font-main;
    font-size:16px;
    display: inline-block;
    min-width:160px;
    margin: 15px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
}
.container{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}
section{
    padding: 96px 0;
}

/* Navigation*/

.navigation{
    background-color: $color-three;
    padding: 12px 0;
    ul{
    padding: 20px;
    margin: 0;
    list-style-type: none;
    text-align: left;
      ul{
            a{
                color: #0fbcf9;
                display: block;
                &:hover{
                color: #ff4757;
                }
            }
            li{
                display: block;
                margin-top: 8px;
                text-align: left;
                &:first-of-type{
                margin-top: -5px;
                }
            }
        }
    }

    li{
        display: inline-block;
        padding-right: 26px;
        position: relative;
        width: 110px;
        text-align: center;
        ul{
            background-color: $color-main ;
            display: none;
            position: absolute;
            padding-top: 12px;
            width: 100%;
        }
        &:hover ul{
            display: block;
            text-align: left;
            width: 100%;
            border-radius: 6px;
        }
    }
    a{
        text-decoration: none;
        color: $color-main;
        &:hover{
        color: $color-hover;
        }
    }
}

/* SPLASH*/

.splash{
    color: $color-main;
    background-color: $color-three;
    min-height: 500px;
    display: flex;
}
.splash-inner{
    margin: auto;
    max-width: 70%;
}
.page-title{
    font-size:72px;
    margin: 0;
    word-spacing:-24px;
    font-weight: 700;
    line-height: 1.2;
    span{
    font-family: $font-two;
    }
}
.page-subtitle{
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0;
}

/* BUTTONS*/

.btn-main{
    color: $color-main;
    border-color: $color-main;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    &:hover{
    color: #0fbcf9;
    background-position: 0 100%;
    }
}
.btn-two{
    color: $color-five;
    border-color: $color-five;
    background-image: linear-gradient(90deg, $color-five 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    &:hover{
    color: $color-hover;
    background-position: 0 100%;
    }
}
.btn-three{
    color: $color-four;
    border-color: $color-four;
    background-image: linear-gradient(90deg, $color-four 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    &:hover{
    color: $color-hover;
    background-position: 0 100%;
    }
}
.btn-four{
    border: none;
    margin: 36px 0;
    padding: 0;
    text-align: left;
    &:hover{
    color: $color-four;
    }
}

/* FLEX CONTAINER*/

section{
    color: $color-three;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box{
    flex: 0 0 33.333%;
    text-align: left;
    position: relative;
    padding: 20px;
    p:first-of-type{
    font-weight: 700;
    }
}
.number{
    color: $color-four;
    font-size: 144px;
    position: absolute;
    top: -55px;
    left: 15px;
    opacity: 0.3;
    font-weight: 700;
}
h3{
    font-size: 48px;
    margin: 0 0 72px 0;
    text-align: left;
}
h4{
    font-size: 24px;
    margin: 0 0 12px 0;
}
.second-box{
    flex: 0 0 50%;
    padding: 20px;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
